* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #807ece 0%, #8e7ece 100%);
  font-family: "Rubik", sans-serif;
  display: flex;
}

#calculo {
  text-align: end;
  width: 15.5rem;
  height: 1.75rem;
  margin: 3.5rem auto 0;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 140%;
  color: var(--textMath);
}

#result {
  display: flex;
  justify-content: space-between;
  margin: auto 3rem;
  font-weight: 400;
  font-size: 2.15rem;
  line-height: 140%;
  color: var(--textColor);
}

.ph-equals {
  font-size: 1rem;
  color: var(--textMath);
}

table td button {
  color: var(--textColor);
  width: 4rem;
  height: 4rem;
  border-radius: 50rem;
  border: 0;
  background: var(--buttonColor);
  font-size: 1.5rem;
  box-shadow: var(--buttonShadow);
}

i {
  display: flex;
  align-items: center;
  height: 100%;
}

#cancelEntry {
  color: #975dfa;
}

.purpleButton {
  background: var(--sideButtonColor);
}

#equal {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #7f45e2;
}
